/**
 * @summary     Popup23
 * @description pure javascript popup window
 * @version     1.0.5
 * @file        popup-23
 * @author      Rostislav Sofronov <realmag777>
 * @contact     https://pluginus.net/contact-us/
 * @github      https://github.com/realmag777/popup-23
 * @copyright   Copyright 2023 PluginUs.NET
 *
 * This source file is free software, available under the following license:
 * MIT license - https://en.wikipedia.org/wiki/MIT_License
 */

.popup23-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: black;
    opacity: .7;
    z-index: 15000;
}

.popup23 {
    position: fixed;
    top: 50px;
    left: 10%;
    right: 10%;
    z-index: 15001;
    background: #fff;
    min-height: 240px;
    min-width: 320px;
    overflow: auto;
    bottom: 50px;
    animation: popup23_modal_pop 0.45s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

@keyframes popup23_modal_pop {
    0%   {
        transform:scale(0.8);
        opacity:0;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}

.popup23-inner-header {
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup23-inner-footer {
    border-top: 1px solid #dfdfdf;
    box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    background: #FCFCFC;
    width: 100%;
    overflow: hidden;
    clear: both;
    box-sizing: border-box;
    padding: 5px;
}

.popup23 .popup23-inner-footer .popup23-btn {
    margin: 7px 0 0 7px;
}

.popup23-inner-content {
    position: absolute;
    overflow: auto !important;
    padding: 0;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 50px;
}

.popup23-inner-header .popup23-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    line-height: normal;
    outline: none;
    transition-duration: 0s;
}

.popup23-inner-header .popup23-close:focus {
    outline: none;
    box-shadow: none;
}

.popup23-inner-header .popup23-close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #ccc;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    content: "🗙";
    transition: color .25s ease;
}

.popup23-inner-header .popup23-close:hover::before {
    color: #cb4a1f;
}

.popup23-title {
    position: absolute;
    top: 0;
    margin: 0;
    line-height: 53px;
    left: 14px;
    color: #555;
    padding: 0;
    font-size: 21px;
    font-weight: bold;
}

.popup23-title span{
    color: crimson;
}

.popup23-title-info {
    position: absolute;
    top: 10px;
    right: 44px;
    margin: 0;
    line-height: 0;
    color: #999;
    padding: 0;
    font-size: 15px;
}

.popup23-form-element-container {
    padding: 8px;
    position: relative;
}

.popup23-form-element-container::after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

.popup23-form-element-container {
    height: 100%;
    padding: 18px 20px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    clear: both;
}

.popup23-form-element-container > p {
    color: #777;
}

.popup23-form-element-container:hover {
    background-color: #fcfcfc;
}

.popup23-iframe-in-popup{
    border: 0;
    position: relative;
    width: 100%;
}

.popup23-content-in-popup{
    color: #333;
}

.popup23-footer-button-close{
    float: right;
}

